body
  background: url(/img/bg.png)

.about
  background-color: rgba(41, 101, 212, 0.83)
  // .container
  //   background-color: rgba(255, 255, 255, 0.5)
  //   padding: 50px 0
  //   font-size: 2em
.row
  .col-md-3
    background-color: rgba(0, 0, 0, 0.8)
