body
  background: url(/img/bg.png)

.about
  background-color: rgba(41, 101, 212, 0.83)
  // .container
  //   background-color: rgba(255, 255, 255, 0.5)
  //   padding: 50px 0
  //   font-size: 2em

.clients
  background-color: rgba(18, 129, 212, 0.5)
.row
  .col-md-3
    background-color: rgba(0, 0, 0, 0.8)

.fp-tableCell
  display: block
  margin-top: 70px

.img-responsive
  margin-bottom: 20px

pre
  margin: 10px 0 10px

.h3
  margin-top: 0

.well
  margin-top: 20px
