body
  background: url(/img/bg.png)
  font-size: 16px
  color: #101010

.navbar-inverse
  .navbar-brand
    color: #cccccc
  .navbar-nav>li>a
    color: #cccccc

.about
  background-color: rgba(41, 101, 212, 0.83)
  // .container
  //   background-color: rgba(255, 255, 255, 0.5)
  //   padding: 50px 0
  //   font-size: 2em
.row
  .col-md-3
    background-color: rgba(0, 0, 0, 0.8)
.btn
  padding: 12px 24px
  font-size: 16px

.fp-tableCell
  display: block
  margin-top: 70px

.img-responsive
  margin-bottom: 20px

pre
  margin: 10px 0 10px

.h3
  margin-top: 0

.well
  margin-top: 20px

iframe
  border-radius: 6px
.btn-social-icon
  margin-right: 15px
