.section
  .container
    .jumbotron
      .row
        .col-md-5
          h1 Построение современных кабельных систем
          p  Компания "СТРОЙСЕРВИС УА" выполняет самые сложные и высокотехнологичные работы в сфере построения современных кабельных систем с применением надежных комплектующих и компонентов от лучших мировых производителей.
          button(type="button" class="btn btn-danger") СДЕЛАТЬ ЗАКАЗ
        .col-md-7
          img.img-responsive(src="/img/cabels.jpg", alt="Построение современных кабельных систем")
      .row
        .col-md-3
          pre
            | более 10 лет
            | на рынке
        .col-md-3
          pre
            | более 10 лет
            | на рынке
        .col-md-3
          pre
            | более 10 лет
            | на рынке
        .col-md-3
          pre
            | более 10 лет
            | на рынке
