.section
  .container
    .jumbotron
      .row
        .col-md-12
          h1 Среди наших клиентов:
      .row
        .col-md-offset-1.col-md-3
          .well
            h3 Агромат ПТК
            p
              span.badge 22
              | объекта
        .col-md-offset-3.col-md-3
          .well
            h3 Агромат ПТК
            p
              span.badge 22
              | объекта
