.section
  .container
    .row
      .col-md-6
        iframe(width="100%" height="520" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d534.1940418812758!2d30.422067050731616!3d50.439807565861784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc105543b3bb%3A0x657d28ebdb734fd8!2z0J7QntCeICLQodGC0YDQvtC5INCh0LXRgNCy0LjRgS3Qo9CQIg!5e0!3m2!1sru!2s!4v1497108014421"  frameborder="0" style="border:0" allowfullscreen)
      .col-md-6
        .jumbotron
          .row
            .col-md-12
              h3  ООО "Строй Сервис-УА"
              .panel.panel-default
                .panel-body 
                  | Адрес: Украина, 03126,  
                  br 
                  | Киев, пр.Космонавта Комарова 24 к.5
              .panel.panel-default
                .panel-body Тел./Факс: (044) 408-12-17
              .panel.panel-default
                .panel-body e-mail: 
                  a(href="mailto:vva@stroy-s.com.ua") vva@stroy-s.com.ua
              .panel.panel-default
                .panel-body Skype: 
                  a(href="skype:vidik40?call") vidik40

              a(href="http://www.facebook.com/sharer.php?u=http://ssua.zzz.com.ua" target="_blank" class="fa fa-facebook")
              a(href="https://twitter.com/share?url=http://ssua.zzz.com.ua&amp;text=Simple%20Share%20Buttons&amp;hashtags=ssua.zzz.com.ua" target="_blank" class="fa fa-twitter")
              a(href="https://plus.google.com/share?url=http://ssua.zzz.com.ua" target="_blank" class="fa fa-google")
              a(href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://ssua.zzz.com.ua" target="_blank" class="fa fa-linkedin")
