.section
  .container
    .jumbotron
      .row
        .col-md-12
          h3 Основной областью деятельности компании является построение современных кабельных систем для создания телекоммуникационной инфраструктуры зданий
      .row
        .col-md-12
          .panel.panel-default
            .panel-body - системы компьютерной и телефонной связи в экранированном и неэкранированном исполнении
      .row
        .col-md-12
          .panel.panel-default
            .panel-body - системы кабельного и спутникового телевидения
      .row
        .col-md-12
          .panel.panel-default
            .panel-body - системы электропитания и электроосвещения
      .row
        .col-md-12
          .panel.panel-default
            .panel-body - строительство и реконструкция жилых и нежилых помещений
      .row
        .col-md-12
          .panel.panel-default
            .panel-body - косметический ремонт офисных помещений
      .row
        .col-md-12
          .panel.panel-default
            .panel-body - системы видеонаблюдения
