doctype html
html(lang="ru")
  head
    title ООО "Строй Сервис-УА"
    link(rel="stylesheet", href="/css/app.css")
    script(type="text/javascript", src="/js/app.js")
  body
    include navbar
    #fullpage
      include about 
      include directions
      include clients
      include license      
      include contacts
    
