doctype html
html(lang="ru")
  head
    title ООО "Строй Сервис-УА"
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    script(type="text/javascript", src="/js/app.js")
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    include navbar
    #fullpage
      include about 
      include directions
      include clients
      include license      
      include contacts
    
