doctype html
html(lang="ru")
  head
    title Test page
    link(rel="stylesheet", href="/css/app.css")
    script(type="text/javascript", src="/js/app.js")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand" href="/") СТРОЙСЕРВИС UA
        
        .collapse.navbar-collapse#bs-navbar-collapse-1
          ul.nav.navbar-nav
            li.active
              a(href="#") О НАС 
                span.sr-only (current)
            li
              a(href="#") НАПРАВЛЕНИЯ
            li
              a(href="#") НАШИ РАБОТЫ
            li
              a(href="#") ЛИЦЕНЗИЯ
            li
              a(href="#") КОНТАКТЫ
          ul.nav.navbar-nav.navbar-right
            li.divider
            li
              a(href="callto:80441234567" type="button") +38  (044)  123  45  67    

    #fullpage
      .section.about
        .container
          .row
            .col-md-5
              h1 Построение современных кабельных систем
              p  Компания "СТРОЙСЕРВИС УА" выполняет самые сложные и высокотехнологичные работы в сфере построения современных кабельных систем с применением надежных комплектующих и компонентов от лучших мировых производителей.
              button(type="button" class="btn btn-danger") СДЕЛАТЬ ЗАКАЗ
            .col-md-7
              img(src="/img/cabels.jpg", alt="Построение современных кабельных систем")
          .row
            .col-md-3
              ul
                li более 10 лет
                li на рынке
            .col-md-3
              ul
                li более 10 лет
                li на рынке
            .col-md-3
              ul
                li более 10 лет
                li на рынке
            .col-md-3
              ul
                li более 10 лет
                li на рынке

      .section
        p section_2 rrr
      .section
        p section_3
      .section
        p section_4
      .section
        p section_5
    
