.section
  .container
    .jumbotron
      .row
        .col-md-12
          h3 Лицензия
      .row
        .col-md-12
          .panel.panel-default
            .panel-body Выполняем работы на основании лицензии государственного комитета по строительству Украины по монтажу и запуску для инженерных подсистем. Номер лицензии - АВ № 180198 от 05.10.2012 года.
            .panel-body Мы строим современные и правильные кабельные системы и имеем в своем арсенале специальные решения для кабельных систем различного масштаба (от рабочей группы до здания), ориентированные на различные условия применения (от офиса до заводских условий с агрессивными средами).
      .row
        .col-md-6
          .thumbnail
            a(href="/img/licenze.png")
              img(src="/img/licenze.png", alt="Лицензия" style="width:100%")
        .col-md-6
          .thumbnail
            a(href="/img/lic_list.png")
              img(src="/img/lic_list.png", alt="Список работ по лицензии" style="width:100%")
