nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-navbar-collapse-1", aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#about") СТРОЙ СЕРВИС-УА
        span.sr-only (current)
    .collapse.navbar-collapse#bs-navbar-collapse-1
      ul.nav.navbar-nav
        li.divider
          li
            a(href="tel:+380444081217" type="button") +38  (044)  408  12  17
      ul.nav.navbar-nav.navbar-right
        //- li(data-menuanchor="about")
        //-   a(href="#about") О НАС 
        //-     span.sr-only (current)
        li(data-menuanchor="directions")
          a(href="#directions") НАПРАВЛЕНИЯ
        li(data-menuanchor="clients")
          a(href="#clients") НАШИ РАБОТЫ
        li(data-menuanchor="license")
          a(href="#license") ЛИЦЕНЗИЯ
        li(data-menuanchor="contacts")
          a(href="#contacts") КОНТАКТЫ
